<div class="page-content" style="background-color: #f7fafdeb;  ">
    <div class="container">
        <div class="row">
            <div class="main-content col-lg-12">
                <div class="content-area card">
                    <div class="card-innr">
                        <div class="card-head has-aside">
                            <h3 class="card-title">Email Templates<br></h3>
                            <div class="card-opt">
                                <ul class="btn-grp btn-grp-block guttar-20px">
                                    <li>
                                        <a href="#mailSetting" class="btn btn-auto btn-primary btn-sm" data-toggle="modal">
                                           <span><span class="d-none d-sm-inline-block">Email</span> Settings</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-text">
                            <ul class="list list-s1 list-col2x">
                                                                <li class="item">
                                    <div class="list-content justify-content-between">
                                        <span>KYC Approved Email</span>
                                        <div class="d-flex guttar-10px">
                                            
                                        </div>
                                    </div>
                                </li>
                                                                <li class="item">
                                    <div class="list-content justify-content-between">
                                        <span>KYC Missing Email</span>
                                        <div class="d-flex guttar-10px">
                                           
                                        </div>
                                    </div>
                                </li>
                                                                <li class="item">
                                    <div class="list-content justify-content-between">
                                        <span>KYC Rejected Email</span>
                                        <div class="d-flex guttar-10px">
                                           
                                        </div>
                                    </div>
                                </li>
                                                                <li class="item">
                                    <div class="list-content justify-content-between">
                                        <span>KYC Submitted Email</span>
                                        <div class="d-flex guttar-10px">
                                           
                                        </div>
                                    </div>
                                </li>
                                                                <li class="item">
                                    <div class="list-content justify-content-between">
                                        <span>Token Purchase - Canceled by User (ADMIN)</span>
                                        <div class="d-flex guttar-10px">
                                           
                                        </div>
                                    </div>
                                </li>
                                                                <li class="item">
                                    <div class="list-content justify-content-between">
                                        <span>Token Purchase - Order Unpaid/Rejected by Gateway (USER)</span>
                                        <div class="d-flex guttar-10px">
                                            
                                        </div>
                                    </div>
                                </li>
                                                                <li class="item">
                                    <div class="list-content justify-content-between">
                                        <span>Token Purchase - Order Placed (ADMIN)</span>
                                        <div class="d-flex guttar-10px">
                                         
                                        </div>
                                    </div>
                                </li>
                                                                <li class="item">
                                    <div class="list-content justify-content-between">
                                        <span>Token Refund - Refund By Admin (USER)</span>
                                        <div class="d-flex guttar-10px">
                                           
                                        </div>
                                    </div>
                                </li>
                                                                <li class="item">
                                    <div class="list-content justify-content-between">
                                        <span>Token Purchase - Payment Rejected/Canceled by Gateway (ADMIN)</span>
                                        <div class="d-flex guttar-10px">
                                            
                                        </div>
                                    </div>
                                </li>
                                                                <li class="item">
                                    <div class="list-content justify-content-between">
                                        <span>Token Purchase - Order Rejected by Admin (USER)</span>
                                        <div class="d-flex guttar-10px">
                                            
                                        </div>
                                    </div>
                                </li>
                                                                <li class="item">
                                    <div class="list-content justify-content-between">
                                        <span>Token Purchase - Order Placed by Online Gateway (USER)</span>
                                        <div class="d-flex guttar-10px">
                                           
                                        </div>
                                    </div>
                                </li>
                                                                <li class="item">
                                    <div class="list-content justify-content-between">
                                        <span>Token Purchase - Order Placed by Manual payment (USER)</span>
                                        <div class="d-flex guttar-10px">
                                          
                                        </div>
                                    </div>
                                </li>
                                                                <li class="item">
                                    <div class="list-content justify-content-between">
                                        <span>Token Purchase - Payment Approved by Gateway (ADMIN)</span>
                                        <div class="d-flex guttar-10px">
                                           
                                        </div>
                                    </div>
                                </li>
                                                                <li class="item">
                                    <div class="list-content justify-content-between">
                                        <span>Token Purchase - Order Successful (USER)</span>
                                        <div class="d-flex guttar-10px">
                                         
                                        </div>
                                    </div>
                                </li>
                                                                <li class="item">
                                    <div class="list-content justify-content-between">
                                        <span>Send Email to User</span>
                                        <div class="d-flex guttar-10px">
                                           
                                        </div>
                                    </div>
                                </li>
                                                                <li class="item">
                                    <div class="list-content justify-content-between">
                                        <span>Password Change Email</span>
                                        <div class="d-flex guttar-10px">
                                            
                                        </div>
                                    </div>
                                </li>
                                                                <li class="item">
                                    <div class="list-content justify-content-between">
                                        <span>Confirm Your Email</span>
                                        <div class="d-flex guttar-10px">
                                           
                                        </div>
                                    </div>
                                </li>
                                                                <li class="item">
                                    <div class="list-content justify-content-between">
                                        <span>2FA Disable Confirmation by Admin</span>
                                        <div class="d-flex guttar-10px">
                                            
                                        </div>
                                    </div>
                                </li>
                                                                <li class="item">
                                    <div class="list-content justify-content-between">
                                        <span>Password Reset Email by Admin</span>
                                        <div class="d-flex guttar-10px">
                                            
                                        </div>
                                    </div>
                                </li>
                                                                <li class="item">
                                    <div class="list-content justify-content-between">
                                        <span>Unusual Login Email</span>
                                        <div class="d-flex guttar-10px">
                                           
                                        </div>
                                    </div>
                                </li>
                                                                <li class="item">
                                    <div class="list-content justify-content-between">
                                        <span>Welcome Email</span>
                                        <div class="d-flex guttar-10px">
                                           
                                        </div>
                                    </div>
                                </li>
                                                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>