
<main class="nk-pages">
    <div class="">
        <div class="nk-banner">
            <div class="banner banner-page">
                <div class="banner-wrap">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-xl-6 col-lg-9">
                                <div class="banner-caption cpn tc-light text-center">
                                    <div class="cpn-head">
                                        <h2 class="title ttu">Contact</h2>
                                        <p>We designed a brand-new cool design and lots of features, the latest version of the template supports advanced block base scenarios, and more.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- .nk-banner -->
        <div class="nk-ovm shape-a-sm"></div>
    </div>
    <section class="section section-contact bg-transparent">
    
        <div class="container">
            <!-- Block @s -->
            <div class="nk-block block-contact" id="contact">
                <div class="row justify-content-center no-gutters">
                    <div class="col-lg-6">
                        <div class="contact-wrap round split split-left split-lg-left bg-white">
                            <h5 class="title title-md">Contact Us</h5>
                            <form class="nk-form-submit" action="form/contact.php" method="post" novalidate="novalidate">
                                <div class="field-item">
                                    <input name="contact-name" type="text" class="input-line required" aria-required="true">
                                    <label class="field-label field-label-line">Your Name</label>
                                </div>
                                <div class="field-item">
                                    <input name="contact-email" type="email" class="input-line required email" aria-required="true">
                                    <label class="field-label field-label-line">Your Email</label>
                                </div>
                                <div class="field-item">
                                    <textarea name="contact-message" class="input-line input-textarea required" aria-required="true"></textarea>
                                    <label class="field-label field-label-line">Your Message</label>
                                </div>
                                <input type="text" class="d-none" name="form-anti-honeypot" value="">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <button type="submit" class="btn btn-lg btn-grad">Submit</button>
                                    </div>
                                    <div class="col-sm-8">
                                        <div class="form-results"></div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div><!-- .col -->
                    <div class="col-lg-4">
                        <div class="contact-wrap split split-right split-lg-right bg-genitian bg-theme tc-light">
                            <div class="d-flex flex-column justify-content-between h-100">
                                <ul class="contact-list">
                                    <li>
                                        <em class="contact-icon fas fa-building"></em>
                                        <div class="contact-text">
                                            <h6>ODI Swap</h6>
                                            <span>Biometric Underwriting GmbH
                                                Reeperbahn 1
                                                Tanzende Türme,<br> 18. OG
                                                20359 Hamburg</span>
                                        </div>
                                    </li>
                                    <li>
                                        <em class="contact-icon fas fa-phone"></em>
                                        <div class="contact-text">
                                            <span>+49 40 25 33 990-0
                                            </span>
                                        </div>
                                    </li>
                                    <li>
                                        <em class="contact-icon fas fa-envelope"></em>
                                        <div class="contact-text">
                                            <span>hello@biometric-underwriting.de</span>
                                        </div>
                                    </li>
                                    <li>
                                        <em class="contact-icon fas fa-paper-plane"></em>
                                        <div class="contact-text">
                                            <span>Join us on Telegram</span>
                                        </div>
                                    </li>
                                </ul>
                                <div class="contact-social">
                                    <h6>Be a part of our community</h6>
                                    <ul class="social-links">
                                        <li><a href="#"><em class="fab fa-twitter"></em></a></li>
                                        <li><a href="#"><em class="fab fa-medium-m"></em></a></li>
                                        <li><a href="#"><em class="fab fa-facebook-f"></em></a></li>
                                        <li><a href="#"><em class="fab fa-youtube"></em></a></li>
                                        <li><a href="#"><em class="fab fa-bitcoin"></em></a></li>
                                        <li><a href="#"><em class="fab fa-github"></em></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .block @e -->
        </div>

        <div id="googleMap" style="width:100%;height:400px;margin-top: 40px;"></div>

    </section>
</main>
<!-- <div class="preloader"><span class="spinner spinner-round"></span></div> -->