<div class="page-content" style="background-color: #f7fafdeb;  ">
    <div class="container">
        <a href="manageLanguages.html" class="btn btn-warning-alt btn-between w-100 mgb-1-5x user-wallet">Please
            setup your application mail settings</a>
        <div class="gaps-1x mgb-0-5x d-lg-none d-none d-sm-block"></div>

        <div class="row">
            <div class="main-content col-lg-9">
                <div class="content-area card">
                    <div class="card-innr">
                        <div class="card-head">
                            <h4 class="card-title">Site Languages</h4>
                            <p class="pt-3">Enable or disable the languages of application. You can add your
                                language and translate that on your way.</p>
                        </div>
                        <div class="gaps-2x"></div>
                        <div class="card-text">
                            <table class="data-table languages-list table-lg">
                                <thead>
                                    <tr class="data-item data-head">
                                        <td class="data-col">Language</td>
                                        <td class="data-col">Label</td>
                                        <td class="data-col">Short</td>
                                        <td class="data-col">Status</td>
                                        <td class="data-col">Last Generate</td>
                                        <th class="data-col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="data-item">
                                        <td class="data-col">
                                            <span>English <small>[EN]</small></span>
                                        </td>
                                        <td class="data-col">
                                            <span>English</span>
                                        </td>
                                        <td class="data-col">
                                            <span>EN</span>
                                        </td>
                                        <td class="data-col">
                                            <span
                                                class="dt-status-md badge badge-dim badge-success badge-md d-none d-sm-inline-block">Actived</span>
                                            <span
                                                class="dt-status-sm badge badge-sq badge-dim badge-success badge-md d-sm-none">A</span>
                                        </td>
                                        <td class="data-col">
                                            <span class="sub">
                                                Apr 22, 2021 11:22AM
                                                <em class="fas fa-info-circle fs-11 text-warning"
                                                    data-toggle="tooltip" data-placement="right"
                                                    title="Seems translation has been updated, Please generate your language again."></em>
                                            </span>
                                        </td>
                                        <td class="data-col text-right">
                                            <div class="relative d-inline-block lang-action-list">
                                                <a href="#"
                                                    class="btn btn-light-alt btn-xs btn-icon toggle-tigger"></a>
                                                <div
                                                    class="toggle-class dropdown-content dropdown-content-top-left">
                                                    <ul class="dropdown-list">
                                                        <li><a href="manageLanguages.html">Translation</a> </li>
                                                        <li><a href="javascript:void(0)" class="lang-action"
                                                                data-lang="en" data-confirm="yes"
                                                                data-actions="generate">Generate</a> </li>
                                                        <li><a href="javascript:void(0)" class="lang-action"
                                                                data-lang="en" data-modal="edit"
                                                                data-actions="update">Update</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 aside sidebar-right">
                <div class="card card-navs">
                    <div class="card-innr">
                        <div class="card-head d-none d-lg-block">
                            <h6 class="card-title card-title-md">Language</h6>
                        </div>
                        <ul class="sidebar-nav">
                            <li><a href="#" data-toggle="modal" data-target="#lang-add"> Add New</a></li>
                            <li><a href="#" data-toggle="modal" data-target="#lang-settings"> Settings</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>