<div class="page-content">
    <div class="container">
                <a href="transactions_admin.html" class="btn btn-warning-alt btn-between w-100 mgb-1-5x user-wallet">Please setup your application mail settings</a>
	<div class="gaps-1x mgb-0-5x d-lg-none d-none d-sm-block"></div>

        <div class="card content-area content-area-mh">
            <div class="card-innr">
                <div class="card-head has-aside">
                    <h4 class="card-title">All Transactions</h4>
                    <div class="card-opt">
                        <ul class="btn-grp btn-grp-block guttar-20px">
                            <li>
                                <a href="#" class="btn btn-sm btn-auto btn-primary" data-toggle="modal" data-target="#addTnx">
                                    <span>Add <span class="d-none d-sm-inline-block">Tokens</span></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                
                <div class="page-nav-wrap">
                    <div class="page-nav-bar justify-content-between bg-lighter">
                        <div class="page-nav w-100 w-lg-auto">
                            <ul class="nav">
                                <li class="nav-item"><a class="nav-link" href="transactions_admin.html">Pending</a></li>
                                <li class="nav-item "><a class="nav-link" href="transactions_admin.html">Approved</a></li>
                                <li class="nav-item "><a class="nav-link" href="transactions_admin.html">Bonuses</a></li>
                                <li class="nav-item  active"><a class="nav-link" href="transactions_admin.html">All</a></li>
                            </ul>
                        </div>
                        <div class="search flex-grow-1 pl-lg-4 w-100 w-sm-auto">
                            <form action="https://demo2.aluxhomes.org/public/admin/transactions" method="GET" autocomplete="off">
                                <div class="input-wrap">
                                    <span class="input-icon input-icon-left"><img src="./assets/images/search.png" alt=""></span>
                                    <input type="search" class="input-solid input-transparent" placeholder="Tranx ID to quick search" value="" name="s">
                                </div>
                            </form>
                        </div>
                                            </div>
                    
                                    </div>
                
                 
                    <div class="bg-light text-center rounded pdt-5x pdb-5x">
                        <p><br>No transaction found!</p>
                        <p><a class="btn btn-primary btn-auto" href="transactions_admin.html">View All Transactions</a></p>
                    </div>
                
                            </div>
        </div>
    </div>
</div>