<div class="page-content" style="background-color: #f7fafdeb;  ">
    <div class="container">
        <a href="PaymentMethods.html" class="btn btn-warning-alt btn-between w-100 mgb-1-5x user-wallet">Please
            setup your application mail settings</a>
        <div class="gaps-1x mgb-0-5x d-lg-none d-none d-sm-block"></div>

        <div class="card content-area">
            <div class="card-innr">
                <div class="card-head d-flex justify-content-between align-items-center">
                    <h4 class="card-title mb-0">Payment Methods</h4>
                    <a href="javascript:void(0)" class="btn btn-sm btn-auto btn-outline btn-primary get_pm_manage"
                        data-type="manage_currency"><span
                            class=" d-sm-inline-block d-none">Manage Currency</span></a>
                </div>

                <div class="gaps-1x"></div>
                <div class="row guttar-vr-30px">
                    <div class="col-xl-4 col-md-6">
                        <div class="payment-card">
                            <div class="payment-head">
                                <div class="payment-logo">
                                    <img src="https://demo2.aluxhomes.org/public/assets/images/pay-manual-admin.png"
                                        alt="Manual">
                                </div>
                                <div class="payment-action">
                                    <a href="javascript:void(0)" class="toggle-tigger rotate"><img src="./assets/images/dropDown.png" style="width: 22px;" alt=""></a>
                                    <div class="toggle-class dropdown-content dropdown-content-top-left">
                                        <ul class="dropdown-list">
                                            <li><a
                                                    href="PaymentMethods.html">Update</a>
                                            </li>
                                            <li><a class="quick-action" href="javascript:void(0)"
                                                    data-name="manual">Disabled</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="payment-body">
                                <h5 class="payment-title">Manual Wallet Payment</h5>
                                <p class="payment-text">Accept manual payment (ETH, BTC, LTC, etc) from
                                    contributors.</p>
                                <div class="payment-status payment-status-connected">
                                    <span class="payment-status-icon"></span>
                                    <div class="payment-status-text">Displayed on Purchase Tokens</div>
                                </div>
                            </div>
                            <div class="payment-footer">
                                <span class="payment-id-title">Active Currency</span>
                                <span class="payment-id"> </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="payment-card">
                            <div class="payment-head">
                                <div class="payment-logo">
                                    <img src="https://demo2.aluxhomes.org/public/assets/images/pay-bank-admin.png"
                                        alt="Bank">
                                </div>
                                <div class="payment-action">
                                    <a href="#" class="toggle-tigger rotate"><img src="./assets/images/dropDown.png" style="width: 22px;" alt=""></a>
                                    <div class="toggle-class dropdown-content dropdown-content-top-left">
                                        <ul class="dropdown-list">
                                            <li><a
                                                    href="PaymentMethods.html">Update</a>
                                            </li>
                                            <li><a class="quick-action" href="javascript:void(0)"
                                                    data-name="bank">Enabled</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="payment-body">
                                <h5 class="payment-title">Bank Transfer</h5>
                                <p class="payment-text">Accept payments via Bank Transfer from contributors.</p>
                                <div class="payment-status payment-status-connect">
                                    <a class="payment-status-icon"
                                        href="PaymentMethods.html"></a>
                                    <div class="payment-status-text">Connect your account</div>
                                </div>
                            </div>
                            <div class="payment-footer">
                                <span class="payment-not-conected">You have not connected yet.</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="payment-card">
                            <div class="payment-head">
                                <div class="payment-logo">
                                    <img src="https://demo2.aluxhomes.org/public/assets/images/pay-paypal-admin.png"
                                        alt="PayPal">
                                </div>
                                <div class="payment-action">
                                    <a href="javascript:void(0)" class="toggle-tigger rotate"><img src="./assets/images/dropDown.png" style="width: 22px;" alt=""></a>
                                    <div class="toggle-class dropdown-content dropdown-content-top-left">
                                        <ul class="dropdown-list">
                                            <li><a
                                                    href="PaymentMethods.html">Update</a>
                                            </li>
                                            <li><a class="quick-action" href="javascript:void(0)"
                                                    data-name="paypal">Enabled</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="payment-body">
                                <h5 class="payment-title">PayPal Gateway</h5>
                                <p class="payment-text">Accept payments via PayPal account from contributors.</p>
                                <div class="payment-status payment-status-connect">
                                    <a class="payment-status-icon"
                                        href="PaymentMethods.html">
                                        </a>
                                    <div class="payment-status-text">Connect your account</div>
                                </div>
                            </div>
                            <div class="payment-footer">
                                <span class="payment-not-conected">You have not connected yet.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="gaps-0x"></div>
            </div>
        </div>
    </div>
</div>