<footer class="nk-footer-bar section section-s tc-light">
    <div class="container container-xxl">
        <div class="row gutter-vr-10px">
            <div class="col-lg-6 order-lg-last text-lg-right">
                <ul class="footer-nav">
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms of sales</a></li>
                </ul>
            </div>
            <div class="col-lg-6">
                <div class="copyright-text copyright-text-s2">Copyright © 2019 ODI. Handcrafted by <a
                        href="https://axtract.co.uk">Axtract</a>.</div>
            </div>
        </div>
    </div>
</footer>
