<div class="page-content" style="background-color:#f7fafdeb;">
    <div class="container">
        <div class="row">

            <div class="main-content col-lg-8">
                <div class="d-lg-none">
                    <a href="javascript:void(0)"
                        class="btn btn-danger btn-xl btn-between w-100 mgb-1-5x user-wallet">Add your wallet address
                        before buy <em class="ti ti-arrow-right"></em></a>
                    <div class="gaps-1x mgb-0-5x d-lg-none d-none d-sm-block"></div>
                </div>
                <div class="content-area card">
                    <div class="card-innr">
                        <div class="card-head">
                            <h4 class="card-title">My AXT Token</h4>
                        </div>
                        <div class="gaps-1x"></div>

                        <div class="card-bordered nopd">
                            <div class="card-innr">
                                <div class="row guttar-vr-15px align-items-center">
                                    <div class="col-md-8">
                                        <div class="total-block">
                                            <h6 class="total-title ucap">Token Balance</h6>
                                            <span class="total-amount-lead">0 AXT
                                            </span>
                                            <p class="total-note">Equivalent to <span>0 USD</span></p>
                                        </div>
                                    </div>
                                    <div class="col-md-4 text-md-right">
                                        <a href="myToken_user.html" class="btn btn-primary">Buy More Token</a>
                                    </div>
                                </div>
                            </div>
                            <div class="sap sap-light"></div>
                            <div class="card-innr">
                                <div class="total-block">
                                    <h5 class="total-title-sm">Total Token Amount</h5>
                                    <span class="total-amount">0 AXT</span>
                                </div>
                                <div class="total-block">
                                    <ul class="list total-wg">
                                        <li>
                                            <span class="total-title-xs">Purchased Token</span>
                                            <span class="total-amount-sm">0 AXT</span>
                                        </li>
                                        <li>
                                            <span class="total-title-xs">Referral Token</span>
                                            <span class="total-amount-sm">0 AXT</span>
                                        </li>
                                        <li>
                                            <span class="total-title-xs">Bonuses Token</span>
                                            <span class="total-amount-sm">0 AXT</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="sap sap-light"></div>
                            <div class="card-innr">
                                <div class="total-block">
                                    <h5 class="total-title-sm">Total Contributed</h5>
                                    <span class="total-amount">0 USD</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="aside sidebar-right col-lg-4">
                <div class="d-none d-lg-block">
                    <a href="javascript:void(0)"
                        class="btn btn-danger btn-xl btn-between w-100 mgb-1-5x user-wallet">Add your wallet address
                        before buy </a>
                    <div class="gaps-1x mgb-0-5x d-lg-none d-none d-sm-block"></div>
                </div>
                <div class="account-info card">
                    <div class="card-innr">
                        <div class="user-account-status">
                            <h6 class="card-title card-title-sm">Your Account Status</h6>
                            <div class="gaps-1-5x"></div>
                            <ul class="btn-grp">
                                <li><a href="javascript:void(0)" class="btn btn-xs btn-auto btn-success">Email
                                        Verified</a></li>
                                <li><a href="myToken_user.html" class="btn btn-xs btn-auto btn-info"><span>Submit
                                            KYC</span></a></li>
                            </ul>
                        </div>
                        <div class="gaps-2-5x"></div>
                        <div class="user-receive-wallet">
                            <h6 class="card-title card-title-sm">Receiving Wallet</h6>
                            <div class="gaps-1x"></div>
                            <div class="d-flex justify-content-between">Add Your Wallet Address<a
                                    href="javascript:void(0)" data-toggle="modal" data-target="#edit-wallet"
                                    class="user-wallet link link-ucap">Add</a></div>
                        </div>
                    </div>
                </div>
                <div class="referral-info card">
                    <div class="card-innr">
                        <div class="card-head has-aside">
                            <h6 class="card-title card-title-sm">Earn with Referral</h6>
                            <div class="card-opt"></div>
                        </div>
                        <p class="pdb-0-5x"><strong>Invite your friends & family.</strong></p>
                        <div class="copy-wrap mgb-0-5x"><span class="copy-feedback"></span><input type="text"
                                class="copy-address" value="https://axtract.co.uk" disabled /><button
                                class="copy-trigger copy-clipboard"
                                data-clipboard-text="https://app.tokenlite.net/invite?ref=UD08288"><img
                                    src="./assets/images/copy.png" alt=""></button></div>
                    </div>
                </div>
                <div class="kyc-info card">
                    <div class="card-innr">
                        <h6 class="card-title card-title-sm">Identity Verification - KYC</h6>
                        <p>To comply with regulation, participant will have to go through identity verification.</p>
                        <p class="lead text-light pdb-0-5x">You have not submitted your documents to verify your
                            identity (KYC).</p><a href="myToken_user.html"
                            class="btn btn-sm m-2 btn-icon btn-primary">Click to Proceed</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>