<div class="page-content" style="background-color:#f7fafdeb;">
    <div class="container">
        <div class="row">
            
            <div class="main-content col-lg-12">
                                    <div class="d-lg-none">
                    <a href="javascript:void(0)" class="btn btn-danger btn-xl btn-between w-100 mgb-1-5x user-wallet">Add your wallet address before buy <em class="ti ti-arrow-right"></em></a>
    <div class="gaps-1x mgb-0-5x d-lg-none d-none d-sm-block"></div>
                </div>
                                    <div class="card content-area content-area-mh">
<div class="card-innr">
    <div class="card-head">
        <h4 class="card-title">Transactions list</h4>
    </div>
    <div class="gaps-1x"></div>
    <div class="row">
        <div class="search flex-grow-1 pl-lg-4 w-100 w-sm-auto">
            <form action="https://demo2.aluxhomes.org/public/admin/transactions" method="GET" autocomplete="off">
                <div class="input-wrap">
                    <span class="input-icon input-icon-left"><img src="./assets/images/search.png" alt=""></span>
                    <input type="search" class="input-solid input-transparent" placeholder="Tranx ID to quick search" value="" name="s">
                </div>
            </form>
        </div>
    </div>
    <table class="data-table dt-filter-init user-tnx">
        <thead>
            <tr class="data-item data-head">
                <th class="data-col tnx-status dt-tnxno">Tranx NO</th>
                <th class="data-col dt-token">Tokens</th>
                <th class="data-col dt-amount">Amount</th>
                <th class="data-col dt-base-amount">USD Amount</th>
                <th class="data-col dt-account">To</th>
                <th class="data-col dt-type tnx-type"><div class="dt-type-text">Type</div></th>
                <th class="data-col"></th>
            </tr>
        </thead>
        <tbody>
                        </tbody>
    </table>
</div>
</div>
            </div>

                                                
        </div>
    </div>
</div>