<div class="page-content" style="background-color:#f7fafdeb;">
    <div class="container">
        <div class="row">

            <div class="main-content col-lg-12">
                <div class="d-lg-none">
                    <a href="javascript:void(0)"
                        class="btn btn-danger btn-xl btn-between w-100 mgb-1-5x user-wallet">Add your wallet address
                        before buy <em class="ti ti-arrow-right"></em></a>
                    <div class="gaps-1x mgb-0-5x d-lg-none d-none d-sm-block"></div>
                </div>
                <div class="content-area user-account-dashboard">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="token-statistics card card-token card-full-height">
                                <div class="card-innr">
                                    <div class="token-balance token-balance-with-icon">
                                        <div class="token-balance-icon"><img style="border-radius: 18px;" src="./assets/company_logo.png"
                                                alt=""></div>
                                        <div class="token-balance-text">
                                            <h6 class="card-sub-title">Token Balance</h6>
                                            <span class="lead">0 <span>ODI <em class="fas fa-info-circle fs-11"
                                                        data-toggle="tooltip" data-placement="right"
                                                        title="Equivalent to ~ USD"></em></span></span>
                                        </div>
                                    </div>
                                    <div class="token-balance token-balance-s2">
                                        <h6 class="card-sub-title">Your Contribution in</h6>
                                        <ul class="token-balance-list">
                                            <li class="token-balance-sub"><span class="lead">~</span><span
                                                    class="sub">USD</span></li>
                                            <li class="token-balance-sub"><span class="lead">~</span><span
                                                    class="sub">ETH</span></li>
                                            <li class="token-balance-sub"><span class="lead">~</span><span
                                                    class="sub">BTC</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="card card-full-height">
                                <div class="card-innr">
                                    <h6 class="card-title card-title-sm">Demo Stage 4<span
                                            class="badge badge-success ucap">Running</span></h6>
                                    <h3 class="text-dark">1 ODI = 0.75 USD <span
                                            class="d-block text-exlight ucap fs-12">1 USD = 0.0002903 ETH</span>
                                    </h3>
                                    <div class="gaps-0-5x"></div>
                                    <div class="d-flex align-items-center justify-content-between mb-0"><a
                                            href="UserDashboard.html" class="btn btn-md btn-primary">Buy Token
                                            Now</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="account-info card card-full-height">
                                <div class="card-innr">
                                    <div class="user-account-status">
                                        <h6 class="card-title card-title-sm">Your Account Status</h6>
                                        <div class="gaps-1-5x"></div>
                                        <ul class="btn-grp">
                                            <li><a href="javascript:void(0)"
                                                    class="btn btn-xs btn-auto btn-success">Email Verified</a></li>
                                            <li><a href="UserDashboard.html"
                                                    class="btn btn-xs btn-auto btn-info"><span>Submit KYC</span></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="gaps-2x"></div>
                                    <div class="user-receive-wallet">
                                        <h6 class="card-title card-title-sm">Receiving Wallet</h6>
                                        <div class="gaps-1x"></div>
                                        <div class="d-flex justify-content-between">Add Your Wallet Address<a
                                                href="javascript:void(0)" data-toggle="modal"
                                                data-target="#edit-wallet"
                                                class="user-wallet link link-ucap">Add</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-7">
                            <div class="card content-welcome-block card-full-height">
                                <div class="card-innr">
                                    <div class="row guttar-vr-20px">
                                        <div class="col-sm-5 col-md-4">
                                            <div class="card-image card-image-sm"><img width="240"
                                                    src="https://app.tokenlite.net/images/welcome.png" alt=""></div>
                                        </div>
                                        <div class="col-sm-7 col-md-8">
                                            <div class="card-content">
                                                <h4>Thank you for your interest to our Axtract</h4>
                                                <p>You can contribute ODI token go through Buy Token page. </p>

                                                <p>You can get a quick response to any questions, and chat with the
                                                    project https://axtract.co.uk </p>

                                                <p><strong>Don’t hesitate to invite your friends!</strong> </p>

                                                <p><a href="ODI Ideen Whitepaper.docx" target="_blank"
                                                        class="btn btn-primary" download>Download Whitepaper</a></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-block d-md-none gaps-0-5x mb-0"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-5">
                            <div class="card card-sales-progress card-full-height">
                                <div class="card-innr">
                                    <div class="card-head">
                                        <h5 class="card-title card-title-sm">Token Sales Progress</h5>
                                    </div>
                                    <ul class="progress-info">
                                        <li><span>Raised Amount <br></span>5,381,970 ODI</li>
                                        <li><span>Total Token <br></span>9,950,000 ODI</li>
                                    </ul>
                                    <div class="progress-bar no-had-soft">
                                        <div class="progress-percent" data-percent="54.1"></div>
                                    </div><span class="card-sub-title ucap mgb-0-5x">Sales End in</span>
                                    <div class="countdown-clock" data-date="2021/10/31 04:50:00"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
