<main class="nk-pages">

    <div class="">
        <div class="nk-banner">
            <div class="banner banner-page">
                <div class="banner-wrap">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-xl-6 col-lg-9">
                                <div class="banner-caption cpn tc-light text-center">
                                    <div class="cpn-head">
                                        <h2 class="title ttu">About ODI Swap</h2>
                                        <p>ODI Swap is #1 best selling ODI Landing page, which helps you lunch
                                            and introduce your ODI Website. We designed it very carefully to
                                            make it more attractive, useful and fit any kind of ODI/Swap
                                            website.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- .nk-banner -->
        <div class="nk-ovm shape-a-sm"></div>
    </div>
    <section class="section bg-light section-about">
        <div class="container">

            <!-- Block @s -->
            <div class="nk-block">
                <div class="row gutter-vr-30px align-items-center">
                    <div class="col-lg-6">
                        <div class="nk-block-text">
                            <h2 class="title">About ODI Swap</h2>
                            <p><strong>ODI Swap is #1 best selling ODI Landing</strong> page, which helps you
                                lunch and introduce your ODI Website. We designed it very carefully to make it
                                more attractive, useful and fit any kind of ODI/Swap website. </p>
                            <p>ODI Swap sectetur adipiscing elit, sed do eiusmod tempor incididunt uteop
                                labore et dolore magna aliqua. Ut enim ad minim veniam, nostrud exercit ullamco
                                laboris nisi commodo consequat.</p>
                            <p>We create cryptocurrency dipiscing elit, sed do eiusmod tempor incididunt uteop
                                labore et dolore magna aliqua. Ut enim ad minim veniam, nostrud exercit ullamco
                                laboris nisi commodo consequat.</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="nk-block-video">
                            <img src="assets/images2/video/a.png" alt="video">
                            <a href="https://www.youtube.com/watch?v=SSo_EIwHSd4"
                                class="nk-block-video-play video-popup btn-play btn-play-light"><em
                                    class="fas fa-play"></em></a>
                        </div>
                    </div>
                </div>
            </div><!-- .nk-block @e -->
            <div class="hr"></div>
            <!-- Block @s -->
            <div class="nk-block nk-block-about">
                <div class="row gutter-vr-30px align-items-center justify-content-between">
                    <div class="col-md-4 col-lg-3">
                        <div class="nk-block-text">
                            <h2 class="title title-lg">ODI Swap <br>you can trust</h2>
                        </div>
                    </div>
                    <div class="col-md-7 col-lg-8">
                        <div class="nk-block-text">
                            <p class="lead">We're build a comprehensive template to help to create ODI Website
                                with ultimate simplicity &amp; easy to use. In ODI Swap, we believe that,
                                adipiscing elit do eiusmod tempor incididunt uteop labore et dolore magna
                                aliqua. </p>
                            <p>Ut enim ad minim veniam, nostrud exercit ullamco laboris nisi commodo consequat.
                                Tempor incididunt uteop labore et dolore magna aliqua. Ut enim ad minim veniam
                                ostrud exercit.</p>
                        </div>
                    </div>
                </div>
            </div><!-- .nk-block @e -->
            <div class="hr"></div>
            <!-- Block @s -->
            <div class="nk-block nk-block-about">
                <div class="row gutter-vr-30px align-items-center justify-content-between">
                    <div class="col-md-4 col-lg-3">
                        <div class="nk-block-text">
                            <h2 class="title title-lg">Our Mission</h2>
                        </div>
                    </div>
                    <div class="col-md-7 col-lg-8">
                        <div class="nk-block-text">
                            <p class="lead">Every employee faces the risk of becoming disabled, before reaching the average retirement age, more than one out of every four 20-year-olds will be out of work for at least a year due to a disabling condition. 1 However, highearners, such as doctors and white-collar workers, as well as many small-business owners, have a particularly high stakes. Their earning potential is typically dependent on specific physical and cognitive abilities that, if harmed, may leave them able to work – but in a lowerpaying job.
                            </p>
                        </div>
                    </div>
                </div>
            </div><!-- .nk-block @e -->

        </div>
    </section>
    <div class="modal fade" id="login-popup">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <a href="#" class="modal-close" data-dismiss="modal" aria-label="Close"><em class="ti ti-close"></em></a>
                <div class="ath-container m-0">
                    <div class="ath-body bg-theme tc-light">
                        <h5 class="ath-heading title">Sign in <small class="tc-default">with your ODI Account</small></h5>
                        <form action="#">
                            <div class="field-item">
                                <div class="field-wrap">
                                    <input type="text" class="input-bordered" placeholder="Your Email">
                                </div>
                            </div>
                            <div class="field-item">
                                <div class="field-wrap">
                                    <input type="password" class="input-bordered" placeholder="Password">
                                </div>
                            </div>
                            <div class="field-item d-flex justify-content-between align-items-center">
                                <div class="field-item pb-0">
                                    <input class="input-checkbox" id="remember-me-100" type="checkbox">
                                    <label for="remember-me-100">Remember Me</label>
                                </div>
                                <div class="forget-link fz-6">
                                    <a href="#" data-toggle="modal" data-dismiss="modal" data-target="#reset-popup">Forgot password?</a>
                                </div>
                            </div>
                            <a href="./userAdmin/UserDashboard.html" class="btn btn-primary btn-block btn-md">Sign In</a>
                        </form>
                        <div class="sap-text"><span>Or Sign In With</span></div>

                        <ul class="row gutter-20px gutter-vr-20px">
                            <li class="col"><a href="#" class="btn btn-md btn-facebook btn-block"><em class="icon fab fa-facebook-f"></em><span>Facebook</span></a></li>
                            <li class="col"><a href="#" class="btn btn-md btn-google btn-block"><em class="icon fab fa-google"></em><span>Google</span></a></li>
                        </ul>
                        <div class="ath-note text-center">
                            Don’t have an account? <a href="#" data-toggle="modal" data-dismiss="modal" data-target="#register-popup"> <strong>Sign up here</strong></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- // -->
    <section class="section section-team bg-white">
        <div class="container">

            <div class="nk-block nk-block-team-featured team-featured">
                <div class="row align-items-center">
                    <div class="col-lg-5 mb-4 mb-lg-0">
                        <div class="team-featured-photo tc-light">
                            <img src="assets/images2/team/large-a.jpg" alt="team">
                            <h5 class="team-featured-info">David Metthew<span>Chairman of ODIX and
                                    Entrepreneur</span></h5>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="team-featured-cont">
                            <h2 class="title title-lg title-dark">Meet Our Team</h2>
                            <p>ODI Swap is founded by David Metthew who is young entrepreneur &amp; full
                                stack-developer. He is totam rem aperiam, et quasi architecto beatae vitae dicta
                                sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit
                                aut fugit. Quam nihil molestiae illum.</p>
                            <p><a class="btn-link" href="page-team.html">See All Team Member</a></p>
                        </div>
                    </div>
                </div><!-- .row -->
            </div>

        </div>
    </section>
    <!-- // -->
    <section class="section section-m section-partners bg-light-alt" id="partners">

        <div class="container">
            <!-- Block @s -->
            <div class="nk-block block-partners">
                <h6 class="title title-xs title-light text-center">Our Partners</h6>
                <ul class="partner-list flex-lg-nowrap">
                    <li class="partner-logo"><img src="assets/images2/partners/a.png" alt="partner"></li>
                    <li class="partner-logo"><img src="assets/images2/partners/b.png" alt="partner"></li>
                    <li class="partner-logo"><img src="assets/images2/partners/c.png" alt="partner"></li>
                    <li class="partner-logo"><img src="assets/images2/partners/d.png" alt="partner"></li>
                    <li class="partner-logo"><img src="assets/images2/partners/e.png" alt="partner"></li>
                    <li class="partner-logo"><img src="assets/images2/partners/f.png" alt="partner"></li>
                    <li class="partner-logo"><img src="assets/images2/partners/g.png" alt="partner"></li>
                </ul>
            </div>
            <!-- Block @e -->
        </div>

    </section>
</main>
<!-- <div class="preloader"><span class="spinner spinner-round"></span></div> -->