<main class="nk-pages">
    <div class="">
        <div class="nk-banner">
            <div class="banner banner-page banner-page-lg banner-gap-b3">
                <div class="banner-wrap">
                    <div class="container">
                        <div class="row align-items-center justify-content-center">
                            <div class="col-lg-8 col-sm-10 text-center">
                                <div class="banner-caption cpn tc-light">
                                    <div class="cpn-head">
                                        <h1 class="title">Tokenwiz The UserPanel <br>You will need it!</h1>
                                    </div>
                                </div>
                            </div><!-- .col -->
                        </div><!-- .row -->
                    </div>
                </div>
            </div>
        </div><!-- .nk-banner -->
        <div class="banner-screen">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-9 col-lg-8 col-sm-11">
                        <img src="assets/images2/app-screens/sc-large-h.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="nk-ovm mask-a-md shape-a-sm"></div>
    </div>
    <div class="section bg-light">
        <div class="container">
            
            <!-- Block @s -->
            <!-- <div class="nk-block">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="nk-block-text text-center">
                            <p class="lead">As an ODICrypto user, you can choose our crypto wallets. Manage your all cryptocurrency in wallets in-app and instantly convert – no hidden fees, no commissions.</p>
                            <p class="lead">Buy, convert and spend crypto and fiat in-app.</p>
                        </div>
                    </div>
                </div>
            </div> -->
            <!-- .nk-block @e -->
            <div class="nk-block nk-block-features mgb-m30">
                <h2 class="title icox2" style="text-align: center;margin-bottom: 59px;">Key Features of ODI Token</h2>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="feature">
                            <div class="feature-icon dot">
                                <em class="icon ikon ikon-paricle-alt"></em>
                            </div>
                            <div class="feature-text">
                                <h5 class="title title-sm">100% of the Monthly Insured Annuity</h5>
                                <p>It is possible to file for up to 75% of the annual Gross Salary. <br>Retrospective coverage of 12 months is possible. <br>Prolongers are also an option. </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="feature">
                            <div class="feature-icon dot">
                                <em class="icon ikon ikon-donught"></em>
                            </div>
                            <div class="feature-text">
                                <h5 class="title title-sm">Secure</h5>
                                <p>Only Natural Persons . <br> Borrowers only
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="feature">
                            <div class="feature-icon dot">
                                <em class="icon ikon ikon-document"></em>
                            </div>
                            <div class="feature-text">
                                <h5 class="title title-sm">No Health Issues</h5>
                                <p>Only 5 questions in the Peculiar Exclusions or DOE.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="feature">
                            <div class="feature-icon dot">
                                <em class="icon ikon ikon-shiled-alt"></em>
                            </div>
                            <div class="feature-text">
                                <h5 class="title title-sm">Full Performance
                                </h5>
                                <p>From 50% Occupational Disability. <br> Diagnosis of Occupational Disability by your own Doctor. <br> Waiting Period of 180 days  </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="feature">
                            <div class="feature-icon dot">
                                <em class="icon ikon ikon-paricle-alt"></em>
                            </div>
                            <div class="feature-text">
                                <h5 class="title title-sm">Job</h5>
                                <p>The current occupation is always insured.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="feature">
                            <div class="feature-icon dot">
                                <em class="icon ikon ikon-paricle-alt"></em>
                            </div>
                            <div class="feature-text">
                                <h5 class="title title-sm">Termination</h5>
                                <p>Contract Duration is 1 year with automatic renewal.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- .block @s -->
            
        </div>
    </div>
    <!-- // -->
    <section class="section bg-white">
        <div class="container">
        
            <!-- Section Head @s -->
            <div class="section-head text-center wide-auto-sm">
                <h2 class="title title-lg title-dark">What CryptoWallets can do for you?</h2>
               <p>CryptoWallet is very simple, secure and with lots cool features. It provides an easy way to buy and send cryptocurrencies all over the world.</p>
            </div><!-- .section-head @e -->
            <!-- Block @s -->
            <div class="nk-block">
                <div class="row align-items-center justify-content-between gutter-vr-30px">
                    <div class="col-lg-6">
                        <div class="nk-block-img pl-lg-4">
                            <img src="assets/images2/app-screens/sc-large-f.png" alt="">
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="nk-block-text">
                            <h2 class="title title-md">Transaction System for <br class="d-none d-sm-block"> user and admin</h2>
                            <p>You can use CryptoWallets to manage and use almost any tradeable these cases are perfectly.</p>
                            <p>Simple and easy to distinguish in a free hour, when our power of choice is untrammelled and when nothing prevents our being able to do what we like best every.</p>
                            
                        </div>
                    </div>
                </div>
            </div><!-- .nk-block @e -->
            
        </div>
    </section>
    <!-- // -->
    <!-- // -->
    <section class="section tc-light bg-theme-grad" id="admin-intro">

        <div class="container">
            <!-- Block @s -->
            <div class="nk-block nk-block-text-wrap">
                <div class="row align-items-center justify-content-between gutter-vr-30px">
                    <div class="col-lg-4 order-lg-last">
                        <div class="nk-block-img edge-r3">
                            <img src="assets/images2/app-screens/sc-large-g.png" alt="app">
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="nk-block-text">
                            <h2 class="title title-md">Payment system based on <br class="d-none d-sm-block">ESC Blockchain</h2>
                            <p class="mr-5">ESC Blockchain is designed to end bad economics Simple and easy to distinguish in a free hour, when our power of choice is untrammelled and when nothing prevents our being able to do.</p>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="feature">
                                        <div class="feature-text">
                                            <h5 class="title title-sm">Fair Economy</h5>
                                            <p>Collected fees are trivial example, which</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="feature">
                                        <div class="feature-text">
                                            <h5 class="title title-sm">Performance</h5>
                                            <p>Collected fees are trivial example, which</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="feature">
                                        <div class="feature-text">
                                            <h5 class="title title-sm">Zero fees</h5>
                                            <p>Collected fees are trivial example, which</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a class="btn btn-grad" href="#">Get TokenWiz</a>
                        </div>
                    </div>
                </div><!-- .row -->
            </div><!-- .block @e -->
        </div>

    </section>
    <!-- // -->
    <section class="section bg-white">
        <div class="container">
        
            <div class="nk-block">
                <div class="row align-items-center justify-content-between gutter-vr-30px">
                    <div class="col-lg-6">
                        <div class="nk-block-img pr-lg-4">
                            <img src="assets/images2/app-screens/sc-large-d.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="nk-block-text">
                            <h2 class="title title-md">KYC/AML form for user &amp; <br class="d-none d-sm-block"> listing for admin</h2>
                            <p>Instantly convert currencies to cryptocurrencies empore, cum soluta nobis est eligendi optiocum exercitation ullamco architecto beatae vitae dicta.</p>
                            <ul class="list list-check">
                                <li>Instantly convert currencies libero tempore, cum soluta nobis est eligendi optio cumque</li>
                                <li>Accept funds from libero tempore, cum soluta nobis est eligendi optio cumque</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="nk-block">
                <div class="row align-items-center justify-content-between gutter-vr-30px">
                    <div class="col-lg-6 order-lg-last">
                        <div class="nk-block-img pl-lg-4">
                            <img src="assets/images2/app-screens/sc-large-e.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="nk-block-text">
                            <h2 class="title title-md">Transaction System for <br class="d-none d-sm-block"> user and admin</h2>
                            <p>You can use CryptoWallets to manage and use almost any tradeable these cases are perfectly.</p>
                            <ul class="list list-dot">
                                <li>Instantly convert currencies libero tempore, cum soluta nobis est eligendi optio cumque</li>
                                <li>Accept funds from libero tempore, cum soluta nobis est eligendi optio cumque</li>
                                <li>Wire-transfer funds from Bank</li>
                                <li>Accept funds from libero tempore, cum soluta nobis est eligendi optio cumque</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </section>
    <!-- // -->
    <section class="section section-team bg-theme-grad tc-light">
        <div class="container">
            <div class="nk-block">
                <div class="row justify-content-center">
                    <div class="col-lg-5">
                        <div class="nk-block-text text-center">
                            <h3 class="title title-lg">Start Your Business <br class="d-none d-sm-block"> with TOKENWiZ</h3>
                            <p>Don’t worry anymore to manage your cryptocurrency. Everything is easy to use.</p>
                            <a href="#" class="btn btn-grad mt-3">Purchase Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- // -->
    <section class="section bg-white">
        <div class="container">
            <!-- Block @s -->
            <div class="nk-block">
                <div class="row">
                    <div class="col-md-4 col-lg-3 mb-4 mb-lg-0">
                        <ul class="nav tab-nav tab-nav-vr tab-nav-bdr mr-lg-3">
                            <li><a class="active" data-toggle="tab" href="#general-questions-01"><em class="fas fa-caret-right"></em>General Questions</a></li>
                            <li><a data-toggle="tab" href="#ico-questions-01"><em class="fas fa-caret-right"></em>ODI Questions</a></li>
                            <li><a data-toggle="tab" href="#tokens-sales-01"><em class="fas fa-caret-right"></em>Tokens Sales</a></li>
                            <li><a data-toggle="tab" href="#clients-releted-01"><em class="fas fa-caret-right"></em>Clients Releted</a></li>
                        </ul>
                    </div><!-- .col -->
                    <div class="col-md-8 col-lg-9">
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="general-questions-01">
                                <div class="accordion accordion-faq" id="faq-1">
                                    <div class="accordion-item">
                                        <h5 class="accordion-title accordion-title-sm" data-toggle="collapse" data-target="#faq-1-1">How does it work? <span class="accordion-icon"></span></h5>
                                        <div id="faq-1-1" class="collapse show" data-parent="#faq-1">
                                            <div class="accordion-content">
                                                <p>ODI is a type of disability insurance that pays out if the insured is unable to work in a job that they are qualified for based on their education, experience, and age. Any occupation policy would not pay benefits if the insured could still work, even if it was at a lower-paying job. If you work in an injury-prone profession, you should definitely invest in disability insurance. Disability insurance is like life insurance. If your family doesn't rely on your income, then you probably don't need to buy .it works on solidarity principle.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h5 class="accordion-title accordion-title-sm collapsed" data-toggle="collapse" data-target="#faq-1-2">What is Principle Of Solidarity? <span class="accordion-icon"></span></h5>
                                        <div id="faq-1-2" class="collapse" data-parent="#faq-1">
                                            <div class="accordion-content">
                                                <p>The principle of solidarity is a socioethical and political concept that states that it is fair and just for members of society to share benefits and obligations equally. It entails contributions from Gross Salaries and is not a part of Taxes. Employers could also benefit from this if they recommended the scheme to their employees</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h5 class="accordion-title accordion-title-sm collapsed" data-toggle="collapse" data-target="#faq-1-3">How Does Blockchain Works and its Application?<span class="accordion-icon"></span></h5>
                                        <div id="faq-1-3" class="collapse" data-parent="#faq-1">
                                            <div class="accordion-content">
                                                <p>The use of blockchain for decentralized data management holds potential for applications beyond financial services. An article published in the Harvard Business Review highlights several potential applications of blockchain, from the validation of artwork to verification of voting records. (c) Because of this diverse interest, several companies, including IBM, Microsoft, Accenture, and others, have formed organizations to develop blockchain-based technology that can be adopted by industry partners. Several companies have started to build on this technology for use cases that include identity verification, trade settlements, and supply chain management. This interest is largely driven by the prediction that the automation offered by blockchain-enabled software could save the financial service industry $15 to $20 billion annually within the next 5 years. </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h5 class="accordion-title accordion-title-sm collapsed" data-toggle="collapse" data-target="#faq-1-4">What ODI Covers ?  <span class="accordion-icon"></span></h5>
                                        <div id="faq-1-4" class="collapse" data-parent="#faq-1">
                                            <div class="accordion-content">
                                                <p>There are a few specific conditions to be met upon beginning the insurance cover or in the event of an extension of the insurance cover. They include confirmation that 
                                                    What ODI Covers
                                                    All insured persons are able to do their contractual daily work both mentally and physically No insured person has received a premium increase of more than 50% or a reduced or rejected benefit commitment during the previous 12 months under a different Occupational Disability Policy No insured person has received medical advice to stay away from work within the previous 60 days No insured person has reduced their working hours or changed their jobs during the previous 12 months due to accidents or illnesses (this applies to home jobs too), and No insured person was unable to attend work for more than 20 consecutive working days during the previous 12 months due to accidents or illnesses.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="ico-questions-01">
                                <div class="accordion accordion-faq" id="faq-2">
                                    <div class="accordion-item">
                                        <h5 class="accordion-title accordion-title-sm" data-toggle="collapse" data-target="#faq-2-1">Which of us ever undertakes laborious?<span class="accordion-icon"></span></h5>
                                        <div id="faq-2-1" class="collapse show" data-parent="#faq-2">
                                            <div class="accordion-content">
                                                <p>Once ODI period is launched, You can purchased Token with Etherum, Bitcoin or Litecoin. You can also tempor incididunt ut labore et dolore magna aliqua sed do eiusmod eaque ipsa.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h5 class="accordion-title accordion-title-sm collapsed" data-toggle="collapse" data-target="#faq-2-2">Who do not know how to pursue rationally?<span class="accordion-icon"></span></h5>
                                        <div id="faq-2-2" class="collapse" data-parent="#faq-2">
                                            <div class="accordion-content">
                                                <p>Once ODI period is launched, You can purchased Token with Etherum, Bitcoin or Litecoin. You can also tempor incididunt ut labore et dolore magna aliqua sed do eiusmod eaque ipsa.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h5 class="accordion-title accordion-title-sm collapsed" data-toggle="collapse" data-target="#faq-2-3">Their separate existence is a myth?<span class="accordion-icon"></span></h5>
                                        <div id="faq-2-3" class="collapse" data-parent="#faq-2">
                                            <div class="accordion-content">
                                                <p>Once ODI period is launched, You can purchased Token with Etherum, Bitcoin or Litecoin. You can also tempor incididunt ut labore et dolore magna aliqua sed do eiusmod eaque ipsa.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h5 class="accordion-title accordion-title-sm collapsed" data-toggle="collapse" data-target="#faq-2-4">Pityful a rethoric question ran over her cheek?<span class="accordion-icon"></span></h5>
                                        <div id="faq-2-4" class="collapse" data-parent="#faq-2">
                                            <div class="accordion-content">
                                                <p>Once ODI period is launched, You can purchased Token with Etherum, Bitcoin or Litecoin. You can also tempor incididunt ut labore et dolore magna aliqua sed do eiusmod eaque ipsa.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tokens-sales-01">
                                <div class="accordion accordion-faq" id="faq-3">
                                    <div class="accordion-item">
                                        <h5 class="accordion-title accordion-title-sm" data-toggle="collapse" data-target="#faq-3-1">When she reached the first hills?<span class="accordion-icon"></span></h5>
                                        <div id="faq-3-1" class="collapse show" data-parent="#faq-3">
                                            <div class="accordion-content">
                                                <p>Once ODI period is launched, You can purchased Token with Etherum, Bitcoin or Litecoin. You can also tempor incididunt ut labore et dolore magna aliqua sed do eiusmod eaque ipsa.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h5 class="accordion-title accordion-title-sm collapsed" data-toggle="collapse" data-target="#faq-3-2">Big Oxmox advised her not to do?<span class="accordion-icon"></span></h5>
                                        <div id="faq-3-2" class="collapse" data-parent="#faq-3">
                                            <div class="accordion-content">
                                                <p>Once ODI period is launched, You can purchased Token with Etherum, Bitcoin or Litecoin. You can also tempor incididunt ut labore et dolore magna aliqua sed do eiusmod eaque ipsa.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h5 class="accordion-title accordion-title-sm collapsed" data-toggle="collapse" data-target="#faq-3-3">Which roasted parts of sentences fly into your mouth?<span class="accordion-icon"></span></h5>
                                        <div id="faq-3-3" class="collapse" data-parent="#faq-3">
                                            <div class="accordion-content">
                                                <p>Once ODI period is launched, You can purchased Token with Etherum, Bitcoin or Litecoin. You can also tempor incididunt ut labore et dolore magna aliqua sed do eiusmod eaque ipsa.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h5 class="accordion-title accordion-title-sm collapsed" data-toggle="collapse" data-target="#faq-3-4">Vokalia and Consonantia, there live?<span class="accordion-icon"></span></h5>
                                        <div id="faq-3-4" class="collapse" data-parent="#faq-3">
                                            <div class="accordion-content">
                                                <p>Once ODI period is launched, You can purchased Token with Etherum, Bitcoin or Litecoin. You can also tempor incididunt ut labore et dolore magna aliqua sed do eiusmod eaque ipsa.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="clients-releted-01">
                                <div class="accordion accordion-faq" id="faq-4">
                                    <div class="accordion-item">
                                        <h5 class="accordion-title accordion-title-sm" data-toggle="collapse" data-target="#faq-4-1">How do I benefit from the ODI Token?<span class="accordion-icon"></span></h5>
                                        <div id="faq-4-1" class="collapse show" data-parent="#faq-4">
                                            <div class="accordion-content">
                                                <p>Once ODI period is launched, You can purchased Token with Etherum, Bitcoin or Litecoin. You can also tempor incididunt ut labore et dolore magna aliqua sed do eiusmod eaque ipsa.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h5 class="accordion-title accordion-title-sm collapsed" data-toggle="collapse" data-target="#faq-4-2">Pityful a rethoric question ran over her cheek?<span class="accordion-icon"></span></h5>
                                        <div id="faq-4-2" class="collapse" data-parent="#faq-4">
                                            <div class="accordion-content">
                                                <p>Once ODI period is launched, You can purchased Token with Etherum, Bitcoin or Litecoin. You can also tempor incididunt ut labore et dolore magna aliqua sed do eiusmod eaque ipsa.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h5 class="accordion-title accordion-title-sm collapsed" data-toggle="collapse" data-target="#faq-4-3">Vokalia and Consonantia, there live?<span class="accordion-icon"></span></h5>
                                        <div id="faq-4-3" class="collapse" data-parent="#faq-4">
                                            <div class="accordion-content">
                                                <p>Once ODI period is launched, You can purchased Token with Etherum, Bitcoin or Litecoin. You can also tempor incididunt ut labore et dolore magna aliqua sed do eiusmod eaque ipsa.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h5 class="accordion-title accordion-title-sm collapsed" data-toggle="collapse" data-target="#faq-4-4">Who do not know how to pursue rationally?<span class="accordion-icon"></span></h5>
                                        <div id="faq-4-4" class="collapse" data-parent="#faq-4">
                                            <div class="accordion-content">
                                                <p>Once ODI period is launched, You can purchased Token with Etherum, Bitcoin or Litecoin. You can also tempor incididunt ut labore et dolore magna aliqua sed do eiusmod eaque ipsa.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .block @e -->
        </div>
    </section>
</main>
<!-- <div class="preloader"><span class="spinner spinner-round"></span></div> -->
